{{- if eq .Section "calendar" }}
  {{- partial "calendar.html" . }}
{{- else }}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body class="env-production emoji-size-boost page-responsive page-profile">
  {{ partial "header" . }}
  {{ block "content" . }}{{ end }}
  {{ partial "footer.html" . }}

  {{ if $.IsPage }}
  <!-- 記事中の画像をポップアップ表示する -->
  <script src="{{ "js/lightbox-plus-jquery.min.js" | absURL }}"></script>
  <script>
    lightbox.option({
      'disableScrolling': true
    })
  </script>
  {{ end }}
</body>

</html>
{{- end }}
